:root {
  /* 定义配色变量 */
  /* 主体配色 */
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  /* 文本配色 */
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 字体配置 */

/* 设置默认字体大小 */

html {
  /* 默认字体大小是16px，62.5%是10px */
  font-size: 62.5%;
}

/* 设置字体，字体大小和文本颜色 */

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

/* PC端页面字体大小 */

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* 链接配置,Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* 标签的样式 */

/* 结构 */

.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  font-size: 2rem;
  white-space: nowrap;
}

/* 外观，常规标签 */

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

/* 小标签 */

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* 列表 */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  padding-left: 3rem;
  list-style-image: url(../images/tick.svg);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icon，图标 */

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.icon-container--accent {
  background: var(--color-accent);
}

.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

/* 按钮组件 */

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 3rem;
  margin: 1rem 0;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: #3a8ffd;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background-color: #00c8eb;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background-color: #ec3000;
}

.btn--outline {
  background-color: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background-color: var(--color-headings);
  color: #fff;
}

.btn--long {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* 输入框组件 */

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: none;
  color: var(--color-headings);
  font-size: 2rem;
}

::placeholder {
  color: #cdcdb7;
}

.input-group {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  /* 按钮在左侧时，或者左侧有其他内容时新增这一句 */
  /* padding: 1.5rem 1rem; */
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* 卡片模块 */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

.card--primary .badge--primary {
  background-color: #005ed8;
}

.card--secondary .badge--secondary {
  background-color: #02cdf1;
}

/* Plans，订阅组件 */

.plan__name {
  color: #fff;
  margin: 0;
  font-size: 2.4rem;
  font-weight: 500;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list__item {
  margin-bottom: 2rem;
}

/* 热门卡片 */
/* 相对于plan进行定位，则不受hidden的影响 */
.plan--popular {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  position: absolute;
  top: -5px;
  right: 5%;
  width: 40px;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .paln__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media，媒体组件 */
.media {
  display: flex;
}

.media__image {
  margin-top: 1rem;
}

.media__body {
  margin: 0 2rem;
}

.media__title {
  margin-top: 0;
}

/* Quote，引言组件 */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: '"';
}
.quote__text::after {
  content: '"';
}

.quote__line {
  position: relative;
  bottom: 10px;
}

.quote__author {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.quote__organization {
  color: var(--color-headings);
  opacity: 0.4;
  font-size: 2rem;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Grid，网格组件 */
.grid {
  display: grid;
}

/* ipad设备 */
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}
/* 笔记本电脑或电脑 */
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* testimonial，推荐模块 */
.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 1.5rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* Callouts，标注模块 */
.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.callout__content {
  text-align: center;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* Collapsible */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible__content {
  display: none;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.collapsible--expanded .collapsible__content {
    display: block;
  opacity: 1;
}
