:root {
    /* 定义配色变量 */
    /* 主体配色 */
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    /* 文本配色 */
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-border: #ccc;
    --border-radius: 30px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* 字体配置 */


/* 设置默认字体大小 */

html {
    /* 默认字体大小是16px，62.5%是10px */
    font-size: 62.5%;
}


/* 设置字体，字体大小和文本颜色 */

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}


/* PC端页面字体大小 */

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 8rem;
    }
    h3 {
        font-size: 2.4rem;
    }
}


/* 链接配置,Links */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}


/* 标签的样式 */


/* 结构 */

.badge {
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-weight: 600;
    font-size: 2rem;
    white-space: nowrap;
}


/* 外观，常规标签 */

.badge--primary {
    background: var(--color-primary);
    color: #fff;
}

.badge--secondary {
    background: var(--color-secondary);
    color: #fff;
}


/* 小标签 */

.badge--small {
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }
    .badge--small {
        font-size: 1.2rem;
    }
}


/* 列表 */

.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    padding-left: 3rem;
    list-style-image: url(../images/tick.svg);
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}


/* Icon，图标 */

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-primary);
}


/* 按钮组件 */

.btn {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 3rem;
    margin: 1rem 0;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background-color: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background-color: #3a8ffd;
}

.btn--secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover {
    background-color: #00c8eb;
}

.btn--accent {
    background-color: var(--color-accent);
    color: #fff;
}

.btn--accent:hover {
    background-color: #ec3000;
}

.btn--block {
    width: 100%;
    display: inline-block;
}


/* 输入框组件 */

.input {
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    outline: none;
    color: var(--color-headings);
    font-size: 2rem;
}

::placeholder {
    color: #cdcdb7;
}

.input-group {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.5rem;
    }
}